.tooltip-wrapper {
    background: #0000;
    border: none;
    margin: 0;
    max-width: min(40rem, 60vw);
    opacity: 0;
    padding: .8rem;
    position: absolute;
    transition: opacity .15s ease .4s, visibility .15s ease .4s;
    visibility: hidden;
    width: 40rem;
    z-index: 10
}

.tooltip-wrapper:popover-open {
    opacity: 1;
    visibility: visible
}

.tooltip {
    border-color: var(--color-contrast-border);
    border-radius: .3rem;
    box-shadow: 0 1px 6px 2px var(--color-backdrop);
    font-size: 1.44rem;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.3;
    padding: 1rem 1.4rem;
    position: relative;
    visibility: hidden;
    word-break: normal
}

.tooltip,
.tooltip:before {
    background: var(--color-bg)
}

.tooltip:before {
    content: "";
    height: .8rem;
    position: absolute;
    transform: rotate(45deg);
    width: .8rem;
    z-index: 9
}

.tooltip.top:before {
    bottom: -.2em;
    box-shadow: 1px 1px 0 var(--color-border-shadow);
    left: 50%;
    margin-left: -.26rem
}

.tooltip.bottom:before {
    box-shadow: -1px -1px 0 var(--color-border-shadow);
    left: 50%;
    margin-left: -.26rem;
    top: -.2em
}

.tooltip.left:before {
    box-shadow: 1px -1px 0 var(--color-border-shadow);
    margin-top: -.26em;
    right: -.2em;
    top: 50%
}

.tooltip.right:before {
    box-shadow: -1px 1px 0 var(--color-border-shadow);
    left: -.2em;
    margin-top: -.26em;
    top: 50%
}

.tooltip .tooltip-content {
    color: var(--color-text);
    position: relative;
    z-index: 5
}

.tooltip.visible {
    visibility: visible
}

.trigger {
    color: var(--color-primary);
    font-size: 1.2rem;
    margin-left: .1rem;
    margin-right: .1rem;
    margin-top: -.3rem;
    position: absolute
}

.trigger+.trigger {
    margin-left: 1em
}

.trigger:before {
    opacity: .4
}

.trigger:after {
    content: "";
    display: block;
    height: 2em;
    left: -.4em;
    opacity: .01;
    position: absolute;
    top: -.2em;
    width: 2em
}

.trigger:hover:before {
    opacity: 1
}

.info-tooltip-link {
    display: block;
    padding-top: .3em
}

.account-address {
    white-space: nowrap
}

.account-address .account-key {
    white-space: normal;
    word-break: break-word
}

.account-address.plain * {
    font: inherit;
    white-space: normal
}

.table .account-address *,
h2 .account-address * {
    letter-spacing: -.05em
}

.asset-link {
    white-space: nowrap
}

.asset-link .asset-issuer {
    color: var(--color-dimmed);
    font-size: .65em;
    padding-left: .1em
}

.asset-link .asset-icon {
    background: #0000 50% no-repeat;
    background-size: contain;
    color: var(--color-text);
    display: inline-block;
    height: 1.1em;
    line-height: 1.1;
    margin-right: .1em;
    margin-top: -.2em;
    vertical-align: middle;
    width: 1.1em
}

.asset-link .asset-icon.icon {
    margin-top: 0
}

.button,
button {
    background: none;
    border: none;
    color: var(--color-bg);
    cursor: pointer;
    display: inline-block;
    font-family: ClearSans, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    height: 2.4em;
    line-height: 2.4em;
    margin-bottom: .5em;
    margin-right: .5rem;
    min-width: 6em;
    padding: 0 1.4em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    z-index: 0
}

.button.button-block,
button.button-block {
    display: block;
    width: 100%
}

.button:last-child,
button:last-child {
    margin-right: 0
}

.button.small,
button.small {
    font-size: 1.25rem;
    padding: 0 1em
}

.button:before,
button:before {
    background: var(--color-highlight);
    border: none;
    content: "";
    display: block;
    height: 100%;
    left: 6px;
    position: absolute;
    top: 0;
    transform: skew(-20deg);
    width: calc(100% - 12px);
    z-index: -1
}

.button:focus,
button:focus {
    background: none !important;
    outline: 0
}

.button:hover,
button:hover {
    color: var(--color-bg)
}

.button:active:before,
.button:hover:before,
button:active:before,
button:hover:before {
    background: var(--color-primary);
    border-color: var(--color-primary)
}

.button:active:before,
button:active:before {
    left: 7px;
    top: 1px
}

.button.disabled,
.button[disabled],
button.disabled,
button[disabled] {
    cursor: default !important;
    opacity: .7
}

.button.disabled:active:before,
.button.disabled:hover:before,
.button[disabled]:active:before,
.button[disabled]:hover:before,
button.disabled:active:before,
button.disabled:hover:before,
button[disabled]:active:before,
button[disabled]:hover:before {
    background: var(--color-primary);
    border-color: var(--color-primary);
    left: 6px;
    top: 0
}

.button.button-outline,
button.button-outline {
    color: var(--color-highlight)
}

.button.button-outline:before,
button.button-outline:before {
    background: var(--color-bg);
    border: 1px solid var(--color-highlight)
}

.button.button-outline:hover:before,
button.button-outline:hover:before {
    background: var(--color-bg);
    border-color: var(--color-primary)
}

.button.button-outline.disabled:focus,
.button.button-outline.disabled:hover,
.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline.disabled:focus,
button.button-outline.disabled:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover {
    color: var(--color-highlight)
}

.button.button-outline.disabled:before,
.button.button-outline[disabled]:before,
button.button-outline.disabled:before,
button.button-outline[disabled]:before {
    background: var(--color-bg);
    border-color: var(--color-highlight)
}

.button.button-clear,
button.button-clear {
    color: var(--color-highlight)
}

.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover {
    color: var(--color-primary)
}

.button.button-clear.disabled:focus,
.button.button-clear.disabled:hover,
.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover,
button.button-clear.disabled:focus,
button.button-clear.disabled:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover {
    color: var(--color-highlight)
}

.button.loading:after,
button.loading:after {
    animation: loading-button 3s ease-in-out infinite;
    background: linear-gradient(to right, #0000, var(--color-text) 50%, #0000);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    transform: skew(-20deg) translateX(0);
    width: 20%
}

@keyframes loading-button {
    0% {
        left: 0
    }

    50% {
        left: 80%
    }

    to {
        left: 0
    }
}

@media(max-width:992px) {

    .button.stackable,
    button.stackable {
        display: block;
        width: 100%
    }
}

.button-group>* {
    vertical-align: top
}

.button-group:not(:last-child) {
    margin-right: .5rem
}

.button-group>.button+.button,
.button-group>button+.button {
    margin-left: -.76em
}

.button-group>.button+.button.small,
.button-group>button+.button.small {
    margin-left: -.96em
}

.button-group>.button+.button:before,
.button-group>button+.button:before {
    border-left: 2px solid var(--color-primary)
}

.button-group>.button.selected.disabled,
.button-group>.button.selected[disabled],
.button-group>button.selected.disabled,
.button-group>button.selected[disabled] {
    color: var(--color-text);
    cursor: pointer;
    opacity: 1
}

.button-group>.button.selected.disabled:before,
.button-group>.button.selected[disabled]:before,
.button-group>button.selected.disabled:before,
.button-group>button.selected[disabled]:before {
    background: var(--color-primary)
}

.button-group>.button:not(:last-child),
.button-group>:not(:last-child)>.button,
.button-group>button:not(:last-child) {
    margin-right: 0
}

.grid-actions .export-data {
    font-size: 1.2em;
    position: absolute;
    right: 0;
    top: .2em
}

.chart {
    min-height: 30em;
    position: relative;
    z-index: 0
}

.chart .v-center-block {
    min-height: 26em
}

.chart-placeholder {
    align-items: flex-end;
    display: flex;
    height: 100%;
    left: 0;
    opacity: .04;
    padding: 2rem;
    position: absolute;
    top: 0;
    width: 100%
}

.chart-placeholder>* {
    background: #000;
    margin: 1rem;
    width: 100%
}

.price-change {
    font-size: .8em;
    line-height: 1;
    margin-right: -.2em;
    vertical-align: super
}

.price-change:before {
    font-size: .8em;
    line-height: 2.2;
    padding: 0 .1em;
    vertical-align: bottom
}

.price-change.positive {
    color: var(--color-price-up)
}

.price-change.positive:before {
    content: "â†‘"
}

.price-change.positive.zero:before {
    content: none
}

.price-change.negative {
    color: var(--color-price-down)
}

.price-change.negative:before {
    content: "â†“"
}

.price-change.standalone {
    font-size: .9em;
    vertical-align: middle
}

.highlighter {
    animation: highlighter .6s ease-in
}

@keyframes highlighter {
    0% {
        background-color: #0691b780
    }

    to {
        background-color: #0000
    }
}

.widget-container {
    padding: .5em 1em
}

.widget-container .widget-footer {
    color: var(--color-dimmed);
    font-size: .7em;
    margin-top: .5em
}

.widget-container .trigger.icon {
    display: none
}

.widget-container h2 {
    font-size: 2.2rem !important
}

.widget-container h3 {
    font-size: 2rem !important
}

.widget-container h4 {
    font-size: 1.8rem !important
}

.chart-sharing-widget {
    float: right;
    top: .5rem !important
}

.tabs .tabs-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em
}

.tabs .tabs-header .tabs-item {
    color: var(--color-bg);
    display: inline-block;
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    height: 4rem;
    line-height: 2.6;
    min-width: 4em;
    padding: 0 .8em;
    position: relative;
    text-align: center;
    text-decoration: none
}

@media(max-width:992px) {
    .tabs .tabs-header .tabs-item {
        font-size: 1.44rem;
        min-width: 3.5em
    }
}

.tabs .tabs-header .tabs-item:before {
    background: var(--color-highlight);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skew(-20deg)
}

.tabs .tabs-header .tabs-item:hover:before {
    background: var(--color-primary)
}

.tabs .tabs-header .tabs-item+.tabs-item:before {
    border-left: 2px solid var(--color-primary);
    margin-left: -1px
}

.tabs .tabs-header .tabs-item.selected {
    color: var(--color-text);
    cursor: pointer
}

.tabs .tabs-header .tabs-item.selected:before {
    background: var(--color-primary)
}

.tabs .tabs-header .tabs-item .tabs-item-text {
    position: relative
}

.tabs.inline-right .tabs-header {
    justify-content: right
}

.tabs>hr.flare {
    margin-top: 0
}

.hljs {
    background: #1f2d34;
    border: 1px solid var(--color-contrast-border);
    border-radius: .3rem;
    color: #bababa;
    display: block;
    font-size: 1.4rem;
    letter-spacing: -.01em;
    line-height: 1.3;
    overflow-x: auto;
    padding: 1rem 2rem
}

.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-quote,
.hljs-regexp {
    color: #6896ba
}

.hljs-code,
.hljs-selector-class {
    color: #a6e22e
}

.hljs-emphasis,
.hljs-strong {
    color: #a8a8a2
}

.hljs-emphasis {
    font-style: italic
}

.hljs-attribute,
.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-variable {
    color: #cb7832
}

.hljs-params {
    color: #b9b9b9
}

.hljs-string {
    color: #6a8759
}

.hljs-addition,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type {
    color: #e0c46c
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #7f7f7f
}

.spoiler {
    padding: .3em 0
}

.spoiler .spoiler-text {
    border-bottom: 1px dotted
}

.sc-val {
    line-height: 1
}

.soroban-tx-metrics-info {
    line-height: 1.2
}

.soroban-tx-metrics-info .value-suffix {
    padding-left: 2px
}

.op-effects {
    line-height: 1.8;
    padding: .2em 0 0 2.6em
}

.op-effects .effect-icon {
    margin-left: -1.4em
}

.op-container {
    position: relative
}

.op-container+.op-container {
    padding-top: .4em
}

.op-container .op-layout {
    align-items: center;
    display: flex;
    flex-wrap: nowrap
}

.op-container .op-layout>:nth-child(2) {
    flex-grow: 4
}

.op-container .op-icon {
    align-items: center;
    align-self: flex-start;
    background: var(--color-primary);
    border-radius: 50%;
    color: var(--color-bg);
    display: flex;
    height: 2.4em;
    justify-content: center;
    margin-right: .3em;
    max-width: 2.4em;
    min-width: 2.4em;
    position: relative;
    text-align: center;
    width: 2.4em
}

.op-container .op-icon.failed {
    filter: grayscale(1);
    opacity: .7
}

.op-container .op-icon:before {
    border-bottom: 1px solid var(--color-text);
    content: "";
    display: block;
    left: -.36em;
    opacity: .2;
    position: absolute;
    top: 1.22em;
    width: .36em
}

.op-container .op-icon i {
    display: block;
    font-size: 1.6em;
    line-height: 1
}

.op-container .accounting-effects {
    font-size: 1rem;
    padding-left: .5em;
    text-align: right
}

.op-container:before {
    border-left: 1px solid var(--color-text);
    content: "";
    display: block;
    height: 100%;
    left: -.4em;
    opacity: .2;
    position: absolute;
    top: 0;
    width: .4em
}

.op-container:last-child:before {
    height: 1.65em
}

.op-container:first-child:before {
    bottom: 0;
    height: calc(100% - 1.25em);
    top: auto
}

.op-container:only-child .op-icon:before,
.op-container:only-child:before {
    display: none
}

.tx-effects-toggle {
    float: right;
    margin-top: .6em;
    position: relative;
    z-index: 1
}

.asset-selector .dd-header .asset-issuer {
    display: none
}

.asset-selector .dd-list {
    max-width: 94vw;
    width: 22em
}

.asset-selector .dd-list-header {
    min-width: 16em
}

.asset-selector .dd-list-header h3 {
    margin: 0
}

.asset-selector .dd-list-header .icon-search {
    font-size: 1.6rem;
    opacity: .5;
    position: absolute;
    right: .3em;
    top: .5em
}

.asset-selector .dd-list-header input {
    margin-bottom: 0
}

.asset-selector .dd-list-header input:not(:placeholder-shown)+.icon-search {
    display: none
}

.asset-selector .dd-list-header input::placeholder {
    font-size: .85em;
    line-height: 1
}

.op-filters .icon-delete-circle {
    margin-left: .1em
}

.op-filter-container {
    background-color: var(--color-bg);
    border: 1px solid var(--color-contrast-border);
    border-radius: .3rem;
    color: var(--color-text);
    display: flex;
    height: 4rem;
    justify-content: flex-start;
    padding: .2rem 1rem;
    width: 100%
}

.op-filter-container:focus {
    border-color: var(--color-highlight)
}

.op-filter-condition {
    cursor: pointer;
    display: inline-block;
    margin-right: .4em
}

.op-filter-condition:before {
    color: var(--color-highlight);
    content: "/"
}

.op-filter-condition .icon-delete-circle {
    opacity: 0
}

.op-filter-condition:hover .icon-delete-circle {
    opacity: 1
}

.op-filter-condition>input {
    height: 3rem;
    margin-bottom: 0;
    padding: 0 .4rem
}

.op-filter-condition>input+.icon-ok {
    display: inline-block;
    transition: visibility .3s;
    visibility: hidden
}

.op-filter-condition>input:focus+.icon-ok {
    margin-left: .2em;
    visibility: visible
}

.all-account-balances {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 21.5em;
    overflow-y: auto;
    width: 100%
}

.all-account-balances .account-balance {
    background: var(--color-highlight);
    color: var(--color-bg);
    display: block;
    flex: 0 0 30%;
    font-size: 1.15em;
    height: 5em;
    margin: .2em;
    max-width: 30%;
    padding: 1rem 0 .8rem;
    text-align: center
}

.all-account-balances .account-balance *,
.all-account-balances .account-balance :hover {
    color: var(--color-bg)
}

.all-account-balances .account-balance .text-small {
    opacity: .7
}

@media(max-width:992px) {
    .all-account-balances {
        margin-left: 0;
        margin-right: 0
    }

    .all-account-balances .account-balance {
        flex: 0 0 96%;
        margin-top: 1rem;
        max-width: 96%
    }
}

.inline-tag {
    background: var(--color-alt-bg);
    border-radius: .3rem;
    display: inline-block;
    line-height: 1.2;
    margin: .2em .4em .2em 0;
    padding: .2em .4em .1em
}

.inline-tag:last-child {
    margin-right: 0
}

.inline-tag.active {
    background: var(--color-primary);
    color: var(--color-bg)
}

.market-reverse {
    display: inline-block;
    font-size: .65em;
    padding: .3em;
    vertical-align: middle
}

.market-reverse .icon-exchange,
h2:hover .market-reverse .icon-shuffle {
    display: none
}

h2:hover .market-reverse .icon-exchange {
    display: inline
}

.market-trades {
    bottom: 1em;
    max-width: 100%;
    min-height: 1vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 .5em;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

@media(max-width:992px) {
    .market-trades {
        min-height: auto;
        overflow-x: visible;
        overflow-y: visible;
        padding: 0;
        position: static
    }
}

.search .results-section h3 {
    color: var(--color-dimmed)
}

.search .results-section h3:after {
    border-top: 1px solid var(--color-contrast-border);
    content: "";
    display: block;
    margin-top: .3em;
    min-width: 10em;
    width: 20%
}

.search .result .title {
    font-size: 1.25em
}

.search .result .description {
    font-size: .9em
}

.search .result .links {
    margin-top: .3em
}

.search .notfound {
    display: none !important
}

.search .notfound:only-child {
    display: block !important;
    padding-top: 15vh
}

.search .more-results .icon {
    display: inline-block;
    transform: rotate(-90deg)
}

.activity-stream ul {
    max-height: calc(100vh - 22em);
    min-height: 20vmin;
    overflow: auto;
    padding-right: 1em
}

@media(max-width:992px) {
    .activity-stream ul {
        max-height: min(100vh, 600px)
    }
}